---
import Base from '../../../layouts/Base.astro'

// Data Fetching API
import { getTranslations } from '../../../lib/translations';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../../../_data/content/posts/**/*.md')
  const postsData = await getTranslations({
    "posts": posts
  })

  return postsData.map((postGroup) => {
    return postGroup.content.map((post) => {
      return {
        params: {
          postType: post.postType,
          locale: post.locale,
          slug: post.slug
        },
        props: {
          post
        }
      }
    })
  })
}
const { post } = Astro.props;
---

<Base translationsURL={post.translations}>

  <div class="container mx-auto py-24 lg:py-40 px-6 space-y-6 dark:text-white">
    <Fragment set:html={post.body} />
  </div>

</Base>