@font-face {
	font-family: 'Montserrat';
	font-style: italic;
	font-weight: 400;
	font-display: auto;
	font-stretch: normal;
	src: url(/fonts/Montserrat-italic-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	font-stretch: normal;
	src: url(/fonts/Montserrat-normal-400.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	font-stretch: normal;
	src: url(/fonts/Montserrat-normal-500.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	font-stretch: normal;
	src: url(/fonts/Montserrat-normal-600.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	font-stretch: normal;
	src: url(/fonts/Montserrat-normal-700.woff) format('woff');
	unicode-range: U+0-10FFFF;
}

main {
  ul {
    @apply list-disc pl-5;
  }

  ol {
    @apply list-decimal pl-5;
  }
}

@-moz-document url-prefix() {

  header::before,
  header nav {
    @apply bg-gray-200 bg-opacity-95;
  }

  .dark {
    header::before,
    header nav {
      @apply bg-gray-900 bg-opacity-100;
    }
  }
}