---
import Base from '../../../layouts/Base.astro'
import { Markdown } from 'astro/components';

export function slugify(text: string) {
  return text
    .toString()
    .normalize('NFKD')
    .toLowerCase()
    .trim()
    .replace(/\s+/g, '-')
    .replace(/[^\w\-]+/g, '')
    .replace(/\-\-+/g, '-')
}

export async function getStaticPaths() {

  const posts = await Astro.glob('../../../data/content/posts/test/*.md')

  const dismemberedPosts = [];
  for (var post of Object.keys(posts)) {

    for (var translation of Object.keys(posts[post].frontmatter)) {

      posts[post].frontmatter[translation].locale = translation

      console.log(posts[post].frontmatter[translation])

      dismemberedPosts.push(posts[post].frontmatter[translation])
    }

  }

  return dismemberedPosts.map((post) => {
    return {
      params: {
        locale: post.locale,
        slug: slugify(post.title)
      },
      props: {
        post: post.body
      }
    };
  });

}

const { locale } = Astro.params;
const { post } = Astro.props;
---

<Base locale={locale}>

<div class="container mx-auto lg:py-40 space-y-6">
  <Markdown content={post} />
</div>

</Base>