---
import Base from '../partials/Base.astro'
import Blobs from '../components/Blobs.svelte'
import '../styles/global.scss';
---

<Base>
<section id="four-o-four" class="xl:container mx-auto px-6 py-32 flex items-center justify-center relative">

  <div class="relative z-10 text-[15em] dark:text-white text-black opacity-80">
    404
  </div>

  <div class="w-10/12 absolute">
    <Blobs />
  </div>
  
</section>
</Base>