---
//import '../styles/global.scss'
import Base from '../layouts/Base.astro'
import Hero from '../layouts/Hero.astro'
import About from '../layouts/About.astro'
import Works from '../layouts/Works.astro'
---

<Base>
	<main class="overflow-hidden">

		<Hero />
		<About />
		<Works />

	</main>
</Base>