---
import Base from '../../../layouts/Base.astro'

// Data Fetching API
import {metaDataPosts} from '../../../lib/api';

export async function getStaticPaths() {

  const posts = await Astro.glob('../../../../_data/content/posts/testmulti/*.md')
  const postsData = await metaDataPosts(posts);

  return postsData.map((post) => {
    return {
      params: {
        postType: post.frontmatter.postType,
        locale: post.frontmatter.locale,
        slug: post.frontmatter.localizedSlug
      },
      props: {
        content: post,
        translations: post.frontmatter.translations
      }
    };
  });
}

const { postType, locale } = Astro.params;
const { content, translations } = Astro.props;

const Content = content.Content
---

<Base postType={postType} locale={locale} translations={translations}>

  <div class="container mx-auto lg:py-40 px-6 space-y-6 dark:text-white">
    <Content/>
  </div>

</Base>