---
import Base from '../../../layouts/Base.astro'
// Data Fetching API
import {translationEngine} from '../../../lib/translationEngine';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../../../_data/content/posts/projects/*.md')
  const postsData = await translationEngine({
    posts: posts, 
    structure: "multiple_files",
    returnObj: 'single_posts'
  });

  return postsData.map((post) => {
    return {
      params: {
        postType: post.postType,
        locale: post.locale,
        slug: post.slug
      },
      props: {
        content: post.body,
        translationsURL: post.translations
      }
    };
  });
}

const { content, translationsURL } = Astro.props;
---

<Base translationsURL={translationsURL}>

  <div class="container mx-auto lg:py-40 px-6 space-y-6 dark:text-white">
    <Fragment set:html={content} />
  </div>

</Base>