---
import Head from 'astro-head';
import Header from './Header.astro'
import Footer from './Footer.astro'

const title = 'Pedro Kehl | Web designer';
const description = 'Short description of the page.';
const analytics = {
  provider: 'google',
  id: 'XXXXXX',
};
---

<html lang="en">

  <head>
    <Head {title} {description} {analytics} />
    <script defer type="text/javascript" src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>

  <body class="bg-gray-200 dark:bg-gray-900">

    <main class="overflow-hidden">

      <Header />

      <slot />

      <Footer />

      <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
      </script>

    </main>

  </body>

</html>