---
const { post } = Astro.props;
const postURL = '/' + post[0].translations[post[0].locale]
---
<div class="w-2/3 lg:w-auto flex-none mb-8 dark:text-white snap-start">

  <a href={postURL} class="block space-y-5">
    <div class="w-full aspect-square bg-slate-300">
      <img class="object-cover w-full h-full" src={post[0].featuredImage} alt="">
    </div>
    <h4 class="text-2xl font-semibold">
      {post[0].title}
    </h4>
  </a>

</div>